pysco/__pycache__/
.*/
pysco/fieldtest.ipynb
pysco/fulltest-1.ipynb
pysco/fulltest-2.ipynb
pysco/idel.npy
pysco/fulltest-1.ipynb
/pysco/powerpics_tnew
/pysco/tnew
/pysco/tnewp
*.ipynb
pysco/ipi.npz.npy
pysco/fulltest-1.ipynb
/pysco/t3
/pysco/tnc
/pysco/t2
*.ipynb
/pysco/pt-modp
/pysco/pt-modp1
/pysco/small
!test-small-modp.ipynb
/pysco/smalln
/pysco/newton
/pysco/newton_j
pysco/test-small-modp.ipynb
